*{

	margin: 0;
	padding: 0;
}
.g_section{
	width: 100%;
	height: auto;



}
.g_body{
width: 1200px;
	height: auto;
	margin: auto;
	padding: 20px 0px 20px 0px;
	box-sizing: border-box;

}
/*Sección de colores generales de la página*/
:root{

	--letraBlanca:#f3ffff;
	--LetraGris:#515151;
	--FondoBlanco:#ffffff;
	--FondoAqua:#00a287;

}
