* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/*JORGE Banners con informacion*/

.Grado {
    width: 100%;
    height: 500px;
    background-image: url("../imgperfilgrado/team.png");
    padding-top: 100px;
}

.text_grado {
    width: 45%;
    height: 200px;
    margin-left: 320px;
    flex-direction: column;
    transition: 1s;
}

#Titulo_grado {
    font-size: 50px;
    font-family: 'Rationale', sans-serif;
    color: white;
}

#Titulo_grado2 {
    text-align: justify;
    font-size: 30px;
    font-family: 'Rationale', sans-serif;
    color: var(--letraBlanca);
}


/*________________________________*/


/*ESDRAS Banners con informacion*/

.estiliExtra {
    padding: 50px 0px 200px 0px;
    overflow: hidden;
}

#Titulo_alumnos {
    font-size: 50px;
    font-family: 'Rationale', sans-serif;
    color: #2C3E50;
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
}

#tabla {
    width: 100%;
    font-size: 18px;
    overflow: hidden;
}

#tabla>div {
    background-color: #2C3E50;
    overflow: hidden;
}

#tabla>div>div {
    color: #ffffff;
    padding-top: 4px;
    padding-bottom: 4px;
    float: left;
    border: 1px solid #ffffff;
}

#tabla>div>a>div {
    color: #ffffff;
    padding-top: 4px;
    padding-bottom: 4px;
    float: left;
    border: 1px solid #ffffff;
}

#tabla>div>a>div:hover {
    background-color: #4081A1;
}

#colum0 {
    width: 50px;
    text-align: center;
}

#colum1 {
    width: 800px;
    padding-left: 10px;
}

#colum2 {
    width: 200px;
    padding-left: 10px;
}

#colum3 {
    width: 150px;
    padding-left: 10px;
}


/*________________________________/*