*{
  padding: 0;
  margin: 0;
}
/*---------------------Información---------------------------*/
.imagen_patio img{
  width: 100%;
  height:500px;
}
.imagen_patio p{
  font-family: fantasy;
  font-size: 50px;
  margin-left: 120px;
  color: white;
  margin-top: -310px;
}
.imagen_patio .grados{
  font-family: fantasy;
  padding-top: 183px;
  margin-left: 515px;
  font-size: 55px;
  color:#7DE6E6;
}
/*-----------------------------Destacados-----------------------------*/
hr{
  width: 38px;
  height: 2px;
  background-color: #434545;
  margin-top: 830px;
  margin-left: 130px;
}
.destacados p{
  font-size: 45px;
  color: #434545;
  font-family:fantasy;
  margin-left: 190px;
  margin-top: -25px;
}
.estrellas{
  width: 100px;
  height: 25px;
  margin-left: 420px;
  margin-top: -62px;
}
.estrellas img{
  width: 210px;
  height: 75px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container img{
  width: 280px;
  margin-left: 35px;
  margin-right: -10px;
  position:relative;
  margin-top: 10px;
}
.slideshow-container p{
  position: absolute;
}
.angela{
  top: 340px;
  margin-left: 42px;
  font-size: 13.4px;
  font-family:monospace;
  color:white;
  text-align: center;
}
.benito{
  top: 340px;
  margin-left: 378px;
  font-size: 13.4px;
  font-family:monospace;
  color:white;
  text-align: center;
}
.hanna{
  top: 340px;
  margin-left: 670px;
  font-size: 13.4px;
  font-family:monospace;
  color:white;
  text-align: center;
}
.dot {
  margin-right: 120px;
  margin-left: -110px;
  height: 15px;
  width: 15px;

  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  margin-left: -80px;
   margin-top: 50px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/************Yadira*************/
#blog{
  margin-top: 350px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.yc_contenedor{
  justify-content: center;
  width: 600px;
  height: auto;
  margin: auto;
}
.yc_item{
  width: 100%;
  height: auto;
  position: relative;
	overflow: hidden;
  margin-top: 10px;
}
.yc_img{
  width: 350px;
  display:flow-root;
  margin:auto;
}
.yc_text{
  width: 350px;
	position: absolute;
	bottom: 0px;
	padding: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;

	background: rgba(0,0,0,0.5);
    text-align: center;
    margin-left: 125px;

}
.yc_text p{
	text-align: justify;
    color: white;
    font-size: 18px;
    transform: translate(0%);
}

.yc_item:hover .portafolio-text{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
.yc_linea{
    width: 360px;
    margin-top: 65px;
    margin-left: 26%;
    background: gray;
    height: 2px;
    border-radius: 0.25px;

 }
/*********Melanie*********/

.ms_contenedor{
  width: 600px;
  height: auto;
}
.ms_linea{
    width: 360px;
    margin-bottom: 65px;
    margin-left: 26%;
    background: gray;
    height: 2px;
    border-radius: 0.25px;

 }
.ms_item{
  width: 100%;
  height: auto;
  position: relative;
	overflow: hidden;
  margin-top: 10px;
  padding: auto;
}
.ms_img{
  width: 350px;
  display:flow-root;
  margin: auto;
}
.ms_text{
  width: 350px;
	position: absolute;
	bottom: 0px;
	padding: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;

	background: rgba(0,0,0,0.5);
    text-align: center;
    margin-left: 125px;

}
.ms_text p{
	text-align: justify;
    color: white;
    font-size: 18px;
    transform: translate(0%);
    margin: auto;
}

.ms_item:hover .portafolio-text{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
