*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial;
}
footer{
    width: 100%;
    background-color: #00a288;
    color: white;
}
.contaier--footer-all{
    width: 100%;
    max-width: 1200px;
}
.container-body{
    display: flex;
    text-align: center;
}
.frase{
    max-width: 1500px;
}
.frase p{
    font-size: 12px;
    text-align: center;
    color:aquamarine
}
.Facebook{
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
}
.Instagram{
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 613px;;
    margin-right: auto;
    margin-top: -30px;
}
.WhatsApp{
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 715px;;
    margin-right: auto;
    margin-top: -32px;
}
.Scl{
     width: 80px;
    height: 80px;
    margin-left: 65%;
    margin-right: auto;
    margin-top: -28px;
   
}